<div class="row">
  <div class="col-md-5">
    <div slickContainer #slickController="slick" [slickConfig]="config">
      <ng-container *ngIf="slickController.initialize">
        <div
          class="col-xs-12 col-sm-6 col-md-2 text-center"
          *ngFor="let product of products; let i = index"
          slickItem
        >
          <a
            ><img
              style="width: 100px; height: 100px; background-size: cover"
              [src]="product?.img"
              class="img-responsive center-block"
          /></a>
          <h4 (click)="onDetail(i)">{{ product.name }}</h4>
          <h5>{{ product.price }}</h5>
          <div>
            <button class="btn btn-primary" (click)="onAddToCart(product)">
              Add to Cart
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
